{% load static %}
<html>
<head>
	<title> Writer's Corner </title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class= "first">
	<div class="second"><center><h1 style="font-size:70px"><strong><u>Welcome to Writer's Corner</u></strong></h1></center> </div>
	<center><div class="date"><h2 style="font-size: 50px"> Pour your heart out </h2></div></center>
	<br>
	<br>
	<br>
	<br> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<br>
<br>
<br>



	<hr/>
</div>
{% block content %}
{% endblock %}

</body>
</html>